.recom-header
	h3  Recommendation List of #{user.name}
	.recom-mainbody
		ul.recom-mainbody-playlist
			if user.lists.length > 0
				each list in user.lists
					li(class="mdl-list__item")= list.name
						form(action='/posts/delete/' + list.id, method="post")
							//- input(type='hidden', name='_method', value='DELETE')
							button(class="mdl-button mdl-js-button mdl-button--raised deleteButton" type="submit" data-post=list.id) X
					if list.videos.length > 0
						each video in list.videos
							li(class="comments")= video.name	
								form(action='/posts/comment', method="post")
									input(class="mdl-textfield__input comments", name="comment" , type="text", placeholder="leave your comment")
									button(class="mdl-button mdl-js-button mdl-button--raised deleteButton" type="submit" data-post=video.id) X
					else
						p(class="profileP") You have no lists